In [1]:
#lets now import all the required libraries
import selenium
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.common.exceptions import NoSuchElementException
import time

Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name,
experience_required. You have to scrape first 10 jobs data.

This task will be done in following steps:
    
1. first get the webpage https://www.naukri.com/
2. Enter “Data Analyst” in “Skill,Designations,Companies” field and enter “Bangalore” in “enter the location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

Note- All of the above steps have to be done in code. No step is to be done manually.

In [2]:
#after uploading it in jupyter notebook
driver=webdriver.Chrome("chromedriver.exe")

In [3]:
#opening the homepage 
driver.get('https://www.naukri.com/')
#asking the user to input the keywords he/she wants to search
des = input('Enter the job you want to search :')
loc = input('Enter location you want to search :')

Enter the job you want to search :Data Analyst
Enter location you want to search :Bangalore

In [4]:
search_des=driver.find_element_by_id("qsb-keyword-sugg")   #locating serach bar designation
search_loc=driver.find_element_by_id("qsb-location-sugg")  #locating search by location
search_des.clear()                                         #clearing search bar
search_loc.clear()
search_des.send_keys(des)                                  #sending user input to search bar
search_loc.send_keys(loc)

time.sleep(4)
search_button = driver.find_element_by_xpath('//div[@class="search-btn"]/button') #locating search bar
#clicking the button to start search
search_button.click()

In [5]:
j_t=[] #job title
j_l=[] #job location
com_name=[] #company name
exp=[] #experience

for j in driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]'):
    j_t.append(j.text)
for m in driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]/span'):
    j_l.append(m.text)
for k in driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]'):
    com_name.append(k.text)
for l in driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]/span'):
    exp.append(l.text)

Let's create dataframe and store extracted data in table format:

In [6]:
Naukari_Data_Analyst=pd.DataFrame({})
Naukari_Data_Analyst['Job_title']=j_t[0:10]
Naukari_Data_Analyst['Job_location']=j_l[0:10]
Naukari_Data_Analyst['Company_name']= com_name[0:10]
Naukari_Data_Analyst['Experience']=exp[0:10]
Naukari_Data_Analyst

,Job_title,Job_location,Company_name,Experience
0,Data Scientist / Data Analyst -Business Analyst,"Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/...",Inflexion Analytix Private Limited,0-3 Yrs
1,Data Analyst - Informatica MDM,Bangalore/Bengaluru,Shell India Markets Private Limited,6-9 Yrs
2,Assistant Vice President - MIS & Reporting ( B...,"Mumbai, Bangalore/Bengaluru",INTERTRUSTVITEOS CORPORATE AND FUND SERVICES P...,12-18 Yrs
3,Data Analyst,"Kolkata, Pune, Chennai, Bangalore/Bengaluru, D...",SA Tech Software (I) Pvt. Ltd.,1-3 Yrs
4,Hiring For Data Analyst/ MIS Reporting Analyst...,Bangalore/Bengaluru,PHARMACEUTICAL RESEARCH ASSOCIATES INDIA Pvt Ltd,2-4 Yrs
5,Consultant-Data Analyst -Bangalore,Bangalore/Bengaluru,Innovsource Services Private Limited,2-7 Yrs
6,SW Technologist I- Data Analyst,Bangalore/Bengaluru,Philips India Limited,5-10 Yrs
7,Data Analyst,Bangalore/Bengaluru,Flipkart Internet Private Limited,1-3 Yrs
8,Hiring For Data Analyst @ Flipkart on Contract,Bangalore/Bengaluru,Flipkart Internet Private Limited,2-6 Yrs
9,Data Analyst - Informatica MDM,Bangalore/Bengaluru,Shell India Markets Private Limited,6-9 Yrs

--------------------------------------------------------------------------------------------------------------------------------

--------------------------------------------------------------------------------------------------------------------------------

Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location,
company_name, full job-description. You have to scrape first 10 jobs data.

This task will be done in following steps:
    
1. first get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill,Designations,Companies” field and enter “Bangalore” in “enter the location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

Note- 
1. All of the above steps have to be done in code. No step is to be done manually.

2.Please note that you have to scrape full job description. For that you may have to open each job separately as shown below
You will get the search result as shown in the below webpage:

You have to click on each job title. Here in this case if you will click on “ Data Scientist, Machine Learning” , you will land up on the below page:

Now you have to scrape data from this page.

Do this for first 10 job search results.

In [7]:
#after uploading it in jupyter notebook
driver=webdriver.Chrome("chromedriver.exe")

In [8]:
#opening the homepage 
driver.get('https://www.naukri.com/')
#asking the user to input the keywords he/she wants to search
des = input('Enter the job you want to search :')
loc = input('Enter location you want to search :')

Enter the job you want to search :Data Scientist
Enter location you want to search :Bangalore

In [9]:
search_des=driver.find_element_by_id("qsb-keyword-sugg")   #locating serach bar designation
search_loc=driver.find_element_by_id("qsb-location-sugg")  #locating search by location
search_des.clear()                                         #clearing search bar
search_loc.clear()
search_des.send_keys(des)                                  #sending user inpiut to search bar
search_loc.send_keys(loc)

time.sleep(4)
search_button = driver.find_element_by_xpath('//div[@class="search-btn"]/button') #locating search bar
#clicking the button to start search
search_button.click()

In [10]:
#fetching Urls
urls=[]
for j in driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]'):
    urls.append(j.get_attribute('href'))
    time.sleep(1) 
urls

['https://www.naukri.com/job-listings-data-scientist-bion-bangalore-bengaluru-2-to-7-years-040320903130?src=jobsearchDesk&sid=16217829875948949&xp=1&px=1',
 'https://www.naukri.com/job-listings-data-scientist-catalyst-bangalore-bengaluru-2-to-7-years-281119905509?src=jobsearchDesk&sid=16217829875948949&xp=2&px=1',
 'https://www.naukri.com/job-listings-data-scientist-machine-learning-catalyst-bangalore-bengaluru-2-to-7-years-290720902628?src=jobsearchDesk&sid=16217829875948949&xp=3&px=1',
 'https://www.naukri.com/job-listings-data-scientist-python-sql-catalyst-bangalore-bengaluru-2-to-7-years-030918900823?src=jobsearchDesk&sid=16217829875948949&xp=4&px=1',
 'https://www.naukri.com/job-listings-data-scientist-python-r-catalyst-bangalore-bengaluru-2-to-6-years-240320902966?src=jobsearchDesk&sid=16217829875948949&xp=5&px=1',
 'https://www.naukri.com/job-listings-data-scientist-bangalore-only-iitand-iim-industrial-personnel-network-bangalore-bengaluru-1-to-6-years-040521001668?src=jobsearchDesk&sid=16217829875948949&xp=6&px=1',
 'https://www.naukri.com/job-listings-data-scientist-couture-ai-private-limited-bangalore-bengaluru-2-to-5-years-130521003858?src=jobsearchDesk&sid=16217829875948949&xp=7&px=1',
 'https://www.naukri.com/job-listings-data-scientist-optimus-rl-dl-bert-labs-bangalore-bengaluru-2-to-5-years-120521501073?src=jobsearchDesk&sid=16217829875948949&xp=8&px=1',
 'https://www.naukri.com/job-listings-data-scientist-applied-materials-india-private-limited-bangalore-bengaluru-2-to-4-years-070521901521?src=jobsearchDesk&sid=16217829875948949&xp=9&px=1',
 'https://www.naukri.com/job-listings-data-scientist-corestrat-labs-private-limited-bangalore-bengaluru-2-to-7-years-080521001751?src=jobsearchDesk&sid=16217829875948949&xp=10&px=1',
 'https://www.naukri.com/job-listings-data-scientist-target-corporation-india-pvt-ltd-bangalore-bengaluru-1-to-6-years-100521500309?src=jobsearchDesk&sid=16217829875948949&xp=11&px=1',
 'https://www.naukri.com/job-listings-data-scientist-techknowledgey-pte-ltd-bangalore-bengaluru-0-to-2-years-070521003138?src=jobsearchDesk&sid=16217829875948949&xp=12&px=1',
 'https://www.naukri.com/job-listings-data-scientist-zycus-infotech-pvt-ltd-bangalore-bengaluru-1-to-6-years-050521901759?src=jobsearchDesk&sid=16217829875948949&xp=13&px=1',
 'https://www.naukri.com/job-listings-data-scientist-kwalee-india-pvt-ltd-bangalore-bengaluru-2-to-7-years-171120001467?src=jobsearchDesk&sid=16217829875948949&xp=14&px=1',
 'https://www.naukri.com/job-listings-data-scientist-bridgei2i-analytics-solutions-private-limited-bangalore-bengaluru-2-to-6-years-110521003546?src=jobsearchDesk&sid=16217829875948949&xp=15&px=1',
 'https://www.naukri.com/job-listings-data-scientist-bridgei2i-analytics-solutions-private-limited-bangalore-bengaluru-2-to-6-years-110521003545?src=jobsearchDesk&sid=16217829875948949&xp=16&px=1',
 'https://www.naukri.com/job-listings-lead-data-scientist-bion-bangalore-bengaluru-2-to-7-years-040320901798?src=jobsearchDesk&sid=16217829875948949&xp=17&px=1',
 'https://www.naukri.com/job-listings-data-scientist-mobiotics-it-solution-pvt-ltd-bangalore-bengaluru-2-to-5-years-011120000228?src=jobsearchDesk&sid=16217829875948949&xp=18&px=1',
 'https://www.naukri.com/job-listings-data-scientist-avery-dennison-india-pvt-ltd-bangalore-bengaluru-2-to-4-years-070521500049?src=jobsearchDesk&sid=16217829875948949&xp=19&px=1',
 'https://www.naukri.com/job-listings-data-scientist-narayana-hrudayalaya-ltd-bangalore-bengaluru-1-to-4-years-290421001155?src=jobsearchDesk&sid=16217829875948949&xp=20&px=1']

In [11]:
j_t=[] #job title
j_l=[] #job location
com_name=[] #company name
fj_d=[] #full job description

In [12]:
a="no element found"
for i in urls:
    driver.get(i)
    
    try:
        for j in driver.find_elements_by_xpath('//h1[@class="jd-header-title"]'):
            j_t.append(j.text)
    except NoSuchElementException:
        j_t.append(a)
        
    try:
        for m in driver.find_elements_by_xpath('//span[@class="location "]'):
            j_l.append(m.text)
    except NoSuchElementException:
        j_l.append(a)
        
    try:
        for k in driver.find_elements_by_xpath('//section[@class="jd-header"]/div/div/div/a[1]'):
            com_name.append(k.text)
    except NoSuchElementException:
        com_name.append(a)
        
    try:
        for l in driver.find_elements_by_xpath('//section[@class="job-desc"]'):
            fj_d.append(l.text.replace('\n',' '))
            time.sleep(3)
    except NoSuchElementException:
        fj_d.append(a)

Let's create dataframe and store extracted data in table format:

In [14]:
Naukri_DS_B=pd.DataFrame({})
Naukri_DS_B['Job_Title']=j_t[0:10]
Naukri_DS_B['Job_Location']=j_l[0:10]
Naukri_DS_B['Company_name']= com_name[0:10]
Naukri_DS_B['Full_job_description']=fj_d[0:10]
Naukri_DS_B

,Job_Title,Job_Location,Company_name,Full_job_description
0,Data Scientist,Bangalore/Bengaluru,Bion,Job description Responsibilities Collaborate ...
1,Data Scientist,Bangalore/Bengaluru,Catalyst,Job description Responsibilities Collaborate ...
2,Data Scientist - Machine Learning,Bangalore/Bengaluru,Catalyst,Job description Roles and Responsibilities - I...
3,Data Scientist - Python/ SQL,Bangalore/Bengaluru,Catalyst,Job description Roles and responsibilities Jo...
4,Data Scientist - Python/r,Bangalore/Bengaluru,Catalyst,Job description What You'll Do : - Leverage d...
5,Data scientist - Bangalore - only IITand IIM,Bangalore/Bengaluru,Industrial Personnel Network,Job description The candidate should have rele...
6,Data Scientist,Bangalore/Bengaluru,COUTURE AI PRIVATE LIMITED,"Job description Couture AI Pvt Ltd, Bengaluru,..."
7,Data Scientist - Optimus ( RL/ DL),Bangalore/Bengaluru,Bert Labs,"Job description Architect, design, own, and ex..."
8,Data Scientist,Bangalore/Bengaluru,Corestrat Labs Private Limited,Job description Roles and Responsibilities We ...
9,Data Scientist,Bangalore/Bengaluru,Target Corporation India Pvt Ltd,Job description Core responsibilities are des...

--------------------------------------------------------------------------------------------------------------------------------

--------------------------------------------------------------------------------------------------------------------------------

Q3: In this question you have to scrape data using the filters available on the webpage as shown below:

You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company_name, experience_required.
The location filter to be used is “Delhi/NCR”
The salary filter to be used is “3-6” lakhs
The task will be done as shown in the below steps:
1. first get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill,Designations,Companies” field .
3. Then click the search button.
4. Then apply the location filter and salary filter by checking the respective boxes
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.
Note- All of the above steps have to be done in code. No step is to be done manually.

In [16]:
#after uploading it in jupyter notebook
driver=webdriver.Chrome("chromedriver.exe")

In [17]:
#opening the homepage
driver.get('https://www.naukri.com/')
#asking the user to input the keywords he/she wants to search
des = input('Enter the job you want to search :')
loc = input('Enter location you want to search :')

Enter the job you want to search :Data Scientist
Enter location you want to search :Delhi/NCR

In [18]:
search_des=driver.find_element_by_id("qsb-keyword-sugg")   #locating serach bar designation
search_loc=driver.find_element_by_id("qsb-location-sugg")  #locating search by location
search_des.clear()                                         #clearing search bar
search_loc.clear()
search_des.send_keys(des)                                  #sending user inpiut to search bar
search_loc.send_keys(loc)

search_button = driver.find_element_by_xpath('//div[@class="search-btn"]/button') #locating search bar

#clicking the button to start search
search_button.click()

In [19]:
#selecting expected salary range
try:
    driver.find_element_by_xpath(".//*[contains(text(), '3-6 Lakhs')]").click()
except NoSuchElementException as e:
        print('Retry in 1 second')
        time.sleep(1)

In [20]:
j_t=[]#title
j_l=[]#location
com_name=[]#company name
exp=[] #experience

for j in driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]'):
    j_t.append(j.text)
for m in driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]/span'):
    j_l.append(m.text)
for k in driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]'):
    com_name.append(k.text)
for l in driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]/span'):
    exp.append(l.text)

Let's create dataframe and store extracted data in table format:

In [22]:
Naukari_DS=pd.DataFrame({})
Naukari_DS['Job_title']=j_t[0:10]
Naukari_DS['Job_location']=j_l[0:10]
Naukari_DS['Company_name']= com_name[0:10]
Naukari_DS['Experience']=exp[0:10]
Naukari_DS

,Job_title,Job_location,Company_name,Experience
0,Data Scientist / Data Analyst -Business Analyst,"Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/...",Inflexion Analytix Private Limited,0-3 Yrs
1,Business Analyst- Data Scientist,"Noida, Gurgaon/Gurugram",Wipro,2-5 Yrs
2,Data Scientist - High growth VC backed Influen...,"Bangalore/Bengaluru, Delhi / NCR, Mumbai (All ...",Ravgins International Pvt. Ltd.,3-5 Yrs
3,DATA Scientist – Gurgaon (Exp 3-6 years),"Gurgaon/Gurugram, Delhi / NCR",CRESCENDO GLOBAL LEADERSHIP HIRING INDIA PRIVA...,3-6 Yrs
4,DATA Scientist – Gurgaon (Exp 3-6 years),"Gurgaon/Gurugram, Delhi / NCR",CRESCENDO GLOBAL LEADERSHIP HIRING INDIA PRIVA...,3-6 Yrs
5,Data Scientist - Noida,Noida,Optum Global Solutions (India) Private Limited,3-5 Yrs
6,Data Scientist,Noida,Blitz Jobs,3-5 Yrs
7,Data Scientist,"Noida, Hyderabad/Secunderabad, Bangalore/Benga...",IBM India Pvt. Limited,4-9 Yrs
8,Data Scientist,"Bharuch, Jaipur, Bhopal, Mumbai, Jhansi, Nagpu...",Country Veggie,1-3 Yrs
9,Senior Data Scientist II 5+ yrs II Gurgaon,Gurgaon/Gurugram,Zenatix Solutions Private Limited,5-10 Yrs

--------------------------------------------------------------------------------------------------------------------------------

--------------------------------------------------------------------------------------------------------------------------------

Q4: Write a python program to scrape data for first 10 job results for Data scientist Designation in Noida location. You have to scrape company_name, No. of days ago when job was posted, Rating of the company.
This task will be done in following steps:
1. first get the webpage https://www.glassdoor.co.in/index.htm
2. Enter “Data Scientist” in “Job Title,Keyword,Company” field and enter “Noida” in “location” field.
3. Then click the search button. You will land up in the below page:
4. Then scrape the data for the first 10 jobs results you get in the above shown page.
5. Finally create a dataframe of the scraped data.
Note- All of the above steps have to be done in code. No step is to be done manually.

In [96]:
#after uploading it in jupyter notebook
driver=webdriver.Chrome("chromedriver.exe")

In [97]:
#opening the homepage
driver.get('https://www.glassdoor.co.in/index.htm')

# Logging in manually

In [99]:
job=driver.find_element_by_xpath('//input[@id="sc.keyword"]')
job.send_keys('Data Scientist')

location=driver.find_element_by_id('sc.location')
location.send_keys('Noida')

search=driver.find_element_by_xpath('//button[@class="gd-ui-button ml-std col-auto SearchStyles__newSearchButton css-iixdfr"]')
search.click()

url='https://www.glassdoor.co.in/Job/noida-data-scientist-jobs-SRCH_IL.0,5_IC4477468_KO6,20.htm'
driver.get(url)

In [100]:
com_name=[] #company name
N_d=[] #No. of days ago when job was posted
r=[]#rating

for j in driver.find_elements_by_xpath('//a[@class=" css-l2wjgv e1n63ojh0 jobLink"]'):
    com_name.append(j.text)
for m in driver.find_elements_by_xpath('//div[@class="d-flex align-items-end pl-std css-mi55ob"]'):
    N_d.append(m.text)
for k in driver.find_elements_by_xpath('//span[@class="css-19pjha7 e1cjmv6j1"]'):
    r.append(k.text)

Let's create dataframe and store extracted data in table format:

In [101]:
Glassdoor_DS_N=pd.DataFrame({})

Glassdoor_DS_N['Company_name']= com_name[0:10]
Glassdoor_DS_N['Job Age']=N_d[0:10]
Glassdoor_DS_N['Rating']=r[0:10]

Glassdoor_DS_N

      Company_name Job Age Rating
0         Ericsson      4d    4.1
1   Biz2Credit Inc    30d+    3.8
2        dunnhumby      3d    4.1
3         Techlive    30d+    5.0
4          CRMNEXT     16d    3.6
5    NatWest Group     24h    3.9
6          CRMNEXT     16d    3.6
7     Khan Academy      2d    4.0
8          WishFin    30d+    3.8
9  SearchUrCollege    30d+    4.3

---------------------------------------------------------------------------------------------------------------------------

---------------------------------------------------------------------------------------------------------------------------

Q5: Write a python program to scrape the salary data for Data Scientist designation in Noida location.
You have to scrape Company name, Number of salaries, Average salary, Min salary, Max Salary.
The above task will be, done as shown in the below steps:
1. first get the webpage https://www.glassdoor.co.in/Salaries/index.htm
2. Enter “Data Scientist” in Job title field and “Noida” in location field.
3. Click the search button.
4. After that you will land on the below page
You have to scrape whole data from this webpage
5. Scrape data for first 10 companies. Scrape the min salary, max salary, company name, Average salary and rating of the company.
6.Store the data in a dataframe.
Note that all of the above steps have to be done by coding only and not manually.

In [102]:
#after uploading it in jupyter notebook
driver=webdriver.Chrome("chromedriver.exe")

In [103]:
#opening the homepage
driver.get('https://www.glassdoor.co.in/Salaries/index.htm')

In [104]:
job=driver.find_element_by_xpath('//input[@id="KeywordSearch"]')
job.clear()
job.send_keys('Data Scientist')

location=driver.find_element_by_id('LocationSearch')
location.clear()
location.send_keys('Noida')

search=driver.find_element_by_xpath('//button[@class="gd-btn-mkt"]')
search.click()
time.sleep(5)

In [105]:
com_name=[] #company name
N_s=[] #Number of salaries
a_s=[]#average salary
min_s=[]#minimum salary
max_s=[]#maximum salary

for j in driver.find_elements_by_xpath('//p[@class="m-0 "]'):
    com_name.append(j.text)
for m in driver.find_elements_by_xpath('//p[@class="css-1uyte9r css-1kuy7z7 m-0 "]'):
    N_s.append(m.text)
for k in driver.find_elements_by_xpath('//div[@class="col-2 d-none d-md-flex flex-row justify-content-end"]'):
    a_s.append(k.text)
for k in driver.find_elements_by_xpath('//div[@class="common__RangeBarStyle__values d-flex justify-content-between "]/span[1]'):
    min_s.append(k.text)
for k in driver.find_elements_by_xpath('//div[@class="common__RangeBarStyle__values d-flex justify-content-between "]/span[2]'):
    max_s.append(k.text)

Let's create dataframe and store extracted data in table format:

In [106]:
Glassdoor_DS_N=pd.DataFrame({})

Glassdoor_DS_N['Company_name']= com_name[0:10]
Glassdoor_DS_N['No_of_Salaries']=N_s[0:10]
Glassdoor_DS_N['Average_salary']=a_s[0:10]
Glassdoor_DS_N['Min_salary']=min_s[0:10]
Glassdoor_DS_N['Max_salary']=max_s[0:10]

Glassdoor_DS_N

,Company_name,No_of_Salaries,Average_salary,Min_salary,Max_salary
0,Tata Consultancy Services,17 salaries,"₹ 6,14,306\n/yr",₹343K,"₹1,250K"
1,IBM,15 salaries,"₹ 9,00,000\n/yr",₹586K,"₹2,730K"
2,Accenture,14 salaries,"₹ 11,46,533\n/yr",₹577K,"₹2,213K"
3,Ericsson-Worldwide,14 salaries,"₹ 7,38,057\n/yr",₹355K,"₹1,613K"
4,Delhivery,14 salaries,"₹ 12,39,781\n/yr",₹450K,"₹11,622K"
5,UnitedHealth Group,11 salaries,"₹ 13,36,142\n/yr","₹1,069K","₹1,520K"
6,Valiance Solutions,9 salaries,"₹ 8,15,192\n/yr",₹502K,"₹1,465K"
7,ZS Associates,8 salaries,"₹ 11,35,221\n/yr",₹202K,"₹1,809K"
8,EXL Service,8 salaries,"₹ 11,44,243\n/yr",₹575K,"₹1,520K"
9,Optum Global Solutions,8 salaries,"₹ 14,13,288\n/yr","₹1,014K","₹2,149K"

---------------------------------------------------------------------------------------------------------------------------

---------------------------------------------------------------------------------------------------------------------------

Q6 : Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. Product Description
3. Price
4. Discount %

The attributes which you have to scrape is ticked marked in the below image.
To scrape the data you have to go through following steps:
1. Go to flipkart webpage by url https://www.flipkart.com/
2. Enter “sunglasses” in the search field where “search for products, brands and more” is written and click the search icon
3. after that you will reach to a webpage having a lot of sunglasses. From this page you can scrap the required data as usual.
4. after scraping data from the first page, go to the “Next” Button at the bottom of the page , then click on it
5. Now scrape data from this page as usual
6. repeat this until you get data for 100 sunglasses.
Note that all of the above steps have to be done by coding only and not manually.

In [23]:
#after uploading it in jupyter notebook
driver=webdriver.Chrome("chromedriver.exe")

In [24]:
#opening the homepage 
driver.get('https://www.flipkart.com/')
#asking the user to input the keywords he/she wants to search
des = input('Enter the job you want to search :')

Enter the job you want to search :Sunglasses

In [25]:
driver.find_element_by_xpath("//button[@class='_2KpZ6l _2doB4z']").click() #closing login pop up box
search_des=driver.find_element_by_xpath("//div[@class='_3OO5Xc']/input")   #locating serach bar 
search_des.clear()                                         #clearing search bar
search_des.send_keys(des)                                  #sending user input to search bar

search_button = driver.find_element_by_xpath('//button[@class="L0Z3Pu"]') #locating search bar

#clicking the button to start search
search_button.click()

In [26]:
#fetching Urls
urls=[]
li = driver.find_element_by_xpath('//div[@class="_2MImiq"]/nav/a[2]')
urls.append(li.get_attribute('href'))
li = driver.find_element_by_xpath('//div[@class="_2MImiq"]/nav/a[3]')
urls.append(li.get_attribute('href'))  
        
urls

['https://www.flipkart.com/search?q=Sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=off&as=off&page=2',
 'https://www.flipkart.com/search?q=Sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=off&as=off&page=3']

In [27]:
b=[]# brand
p_d=[] #product description
p=[] #price
d=[] #discount
for j in driver.find_elements_by_xpath('//div[@class="_2B099V"]/div[1]'):
    b.append(j.text)
for m in driver.find_elements_by_xpath('//div[@class="_2B099V"]/a[1]'):
    p_d.append(m.text)
for k in driver.find_elements_by_xpath('//div[@class="_30jeq3"]'):
    p.append(k.text)
for l in driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]/span'):
    d.append(l.text) 
for i in urls:
    driver.get(i)
    for j in driver.find_elements_by_xpath('//div[@class="_2B099V"]/div[1]'):
        b.append(j.text)
    for m in driver.find_elements_by_xpath('//div[@class="_2B099V"]/a[1]'):
        p_d.append(m.text)
    for k in driver.find_elements_by_xpath('//div[@class="_30jeq3"]'):
        p.append(k.text)
    for l in driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]/span'):
        d.append(l.text)

Let's create dataframe and store extracted data in table format:

In [30]:
Flipkart_Sunglasses=pd.DataFrame({})
pd.set_option('display.max_rows',None)
Flipkart_Sunglasses['Brand']=b[0:100]
Flipkart_Sunglasses['Product_description']=p_d[0:100]
Flipkart_Sunglasses['Price']= p[0:100]
Flipkart_Sunglasses['Discount']=d[0:100]
Flipkart_Sunglasses

,Brand,Product_description,Price,Discount
0,ROYAL SON,UV Protection Over-sized Sunglasses (65),₹699,53% off
1,New Specs,"Mirrored, UV Protection, Riding Glasses, Other...",₹289,79% off
2,ROZZETTA CRAFT,UV Protection Retro Square Sunglasses (Free Size),₹499,77% off
3,Fastrack,UV Protection Rectangular Sunglasses (Free Size),₹570,28% off
4,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹733,18% off
5,PIRASO,UV Protection Aviator Sunglasses (Free Size),₹349,78% off
6,ROZZETTA CRAFT,"UV Protection, Gradient Rectangular Sunglasses...",₹404,79% off
7,NuVew,UV Protection Aviator Sunglasses (58),₹215,72% off
8,PHENOMENAL,UV Protection Retro Square Sunglasses (Free Size),₹399,80% off
9,Fastrack,UV Protection Aviator Sunglasses (Free Size),₹674,25% off
10,PIRASO,UV Protection Aviator Sunglasses (54),₹250,84% off
11,DEIXELS,"UV Protection Aviator, Wayfarer Sunglasses (Fr...",₹213,82% off
12,ROZZETTA CRAFT,UV Protection Retro Square Sunglasses (Free Size),₹499,77% off
13,ROYAL SON,UV Protection Retro Square Sunglasses (88),₹599,70% off
14,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹758,15% off
15,Fastrack,"Gradient, UV Protection Wayfarer Sunglasses (F...",₹621,22% off
16,HIPPON,UV Protection Wayfarer Sunglasses (55),₹251,79% off
17,PHENOMENAL,"UV Protection, Mirrored Retro Square Sunglasse...",₹399,80% off
18,Fastrack,UV Protection Aviator Sunglasses (58),"₹1,123",13% off
19,ROYAL SON,UV Protection Retro Square Sunglasses (49),₹664,66% off
20,Fastrack,UV Protection Wayfarer Sunglasses (56),₹759,15% off
21,GANSTA,UV Protection Aviator Sunglasses (57),₹281,85% off
22,Singco India,"Mirrored, Riding Glasses, Others Sports Sungla...",₹249,83% off
23,ROYAL SON,"Gradient, UV Protection Cat-eye, Over-sized Su...",₹664,55% off
24,Fastrack,"Gradient, UV Protection Wayfarer Sunglasses (F...",₹638,20% off
25,ROZZETTA CRAFT,UV Protection Shield Sunglasses (54),₹499,80% off
26,Singco India,UV Protection Aviator Sunglasses (Free Size),₹339,71% off
27,Singco India,"UV Protection, Riding Glasses, Others Aviator,...",₹209,70% off
28,Silver Kartz,UV Protection Wayfarer Sunglasses (Free Size),₹259,82% off
29,ROYAL SON,Mirrored Aviator Sunglasses (55),₹379,74% off
30,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹836,7% off
31,DEIXELS,UV Protection Round Sunglasses (Free Size),₹209,73% off
32,GANSTA,"UV Protection, Mirrored Wayfarer Sunglasses (53)",₹199,80% off
33,NuVew,UV Protection Aviator Sunglasses (57),₹195,75% off
34,ROYAL SON,UV Protection Rectangular Sunglasses (58),₹474,68% off
35,ROZZETTA CRAFT,"Gradient, UV Protection Round Sunglasses (Free...",₹449,77% off
36,ROZZETTA CRAFT,"UV Protection, Riding Glasses Rectangular Sung...",₹449,79% off
37,Fastrack,UV Protection Rectangular Sunglasses (59),"₹1,097",15% off
38,hipe,Mirrored Wayfarer Sunglasses (55),₹219,78% off
39,AISLIN,"Polarized, UV Protection Wayfarer Sunglasses (52)","₹1,185",72% off
40,ROYAL SON,"UV Protection, Gradient Wayfarer Sunglasses (55)",₹217,78% off
41,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹758,15% off
42,hipe,"UV Protection, Mirrored Round Sunglasses (Free...",₹219,86% off
43,New Specs,"Mirrored, UV Protection, Riding Glasses, Other...",₹289,79% off
44,PHENOMENAL,UV Protection Clubmaster Sunglasses (Free Size),₹319,84% off
45,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹576,27% off
46,AISLIN,UV Protection Oval Sunglasses (60),₹764,69% off
47,PHENOMENAL,"UV Protection, Mirrored Retro Square Sunglasse...",₹399,80% off
48,elegante,UV Protection Wrap-around Sunglasses (Free Size),₹499,66% off
49,NuVew,UV Protection Aviator Sunglasses (57),₹195,75% off
50,GANSTA,UV Protection Aviator Sunglasses (57),₹337,83% off
51,Fastrack,UV Protection Aviator Sunglasses (58),"₹1,148",11% off
52,Fastrack,UV Protection Aviator Sunglasses (58),"₹1,085",16% off
53,ROYAL SON,UV Protection Over-sized Sunglasses (65),₹699,53% off
54,DEIXELS,"Polarized, UV Protection, Riding Glasses Wayfa...",₹249,58% off
55,hipe,"Mirrored, UV Protection, Gradient Round Sungla...",₹210,85% off
56,Fastrack,"Mirrored, UV Protection Wayfarer Sunglasses (F...",₹777,22% off
57,ROYAL SON,Mirrored Aviator Sunglasses (58),₹399,73% off
58,Fastrack,UV Protection Wayfarer Sunglasses (57),₹559,30% off
59,ROYAL SON,UV Protection Retro Square Sunglasses (88),₹599,70% off
60,NuVew,UV Protection Aviator Sunglasses (Free Size),₹417,66% off
61,hipe,UV Protection Sports Sunglasses (Free Size),₹319,83% off
62,Fastrack,"UV Protection, Polarized Wayfarer Sunglasses (56)",₹759,15% off
63,ROYAL SON,UV Protection Retro Square Sunglasses (49),₹664,66% off
64,GANSTA,"UV Protection, Night Vision, Riding Glasses Av...",₹292,85% off
65,hipe,"UV Protection, Night Vision, Gradient, Mirrore...",₹210,78% off
66,PHENOMENAL,"UV Protection, Mirrored Clubmaster Sunglasses ...",₹319,84% off
67,ROZZETTA CRAFT,"UV Protection, Gradient Retro Square Sunglasse...",₹449,77% off
68,ROZZETTA CRAFT,"UV Protection, Gradient Round Sunglasses (Free...",₹449,83% off
69,ROYAL SON,Mirrored Aviator Sunglasses (55),₹379,74% off
70,SRPM,UV Protection Round Sunglasses (53),₹189,62% off
71,Fastrack,UV Protection Aviator Sunglasses (Free Size),₹759,15% off
72,AISLIN,"UV Protection, Gradient Oval Sunglasses (58)",₹500,67% off
73,ROYAL SON,UV Protection Wayfarer Sunglasses (55),₹265,79% off
74,Trendy Glasses,UV Protection Retro Square Sunglasses (Free Size),₹269,86% off
75,ROZZETTA CRAFT,"Polarized, UV Protection Aviator Sunglasses (F...",₹449,77% off
76,GANSTA,"UV Protection, Gradient Wayfarer Sunglasses (53)",₹328,83% off
77,ROZZETTA CRAFT,"UV Protection, Gradient Round Sunglasses (Free...",₹399,80% off
78,GANSTA,"Night Vision, Riding Glasses Wayfarer Sunglass...",₹207,88% off
79,ROYAL SON,"Gradient, UV Protection Cat-eye, Over-sized Su...",₹664,55% off
80,ROYAL SON,UV Protection Retro Square Sunglasses (58),₹499,66% off
81,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹578,27% off
82,NuVew,"UV Protection, Mirrored Clubmaster Sunglasses ...",₹185,78% off
83,ROYAL SON,UV Protection Over-sized Sunglasses (65),₹699,53% off
84,AISLIN,"UV Protection, Gradient Oval Sunglasses (58)",₹522,65% off
85,PETER JONES,"UV Protection, Gradient Retro Square Sunglasse...",₹629,68% off
86,NuVew,UV Protection Cat-eye Sunglasses (60),₹419,71% off
87,AISLIN,"UV Protection, Gradient Oval Sunglasses (58)",₹525,65% off
88,Flizz,"UV Protection, Polarized Rectangular Sunglasse...",₹279,81% off
89,New Specs,"Mirrored, UV Protection, Riding Glasses, Other...",₹289,79% off
90,Silver Kartz,UV Protection Aviator Sunglasses (62),₹269,77% off
91,PHENOMENAL,UV Protection Retro Square Sunglasses (Free Size),₹399,80% off
92,ROYAL SON,"Polarized, UV Protection Round Sunglasses (49)",₹664,66% off
93,ROYAL SON,UV Protection Retro Square Sunglasses (88),₹599,70% off
94,AISLIN,UV Protection Aviator Sunglasses (58),₹890,75% off
95,NuVew,"UV Protection, Riding Glasses Wayfarer Sunglas...",₹262,73% off
96,GANSTA,UV Protection Retro Square Sunglasses (53),₹199,84% off
97,GANSTA,UV Protection Aviator Sunglasses (57),₹337,83% off
98,Fastrack,"Gradient, UV Protection Wayfarer Sunglasses (F...",₹777,22% off
99,ROYAL SON,UV Protection Retro Square Sunglasses (49),₹664,66% off

--------------------------------------------------------------------------------------------------------------------------------

--------------------------------------------------------------------------------------------------------------------------------

Q7: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link: https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace.
When you will open the above link you will reach to the below shown webpage.
As shown in the above page you have to scrape the tick marked attributes.
These are
1. Rating
2. Review_summary
3. Full review
You have to scrape this data for first 100 reviews.

In [31]:
#after uploading it in jupyter notebook
driver=webdriver.Chrome("chromedriver.exe")

In [32]:
#opening the homepage of amazon.in
driver.get('https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace.')

In [33]:
max_page=11
max_p_d=2
urls=[]
for i in range (1, max_page +1):
    url=f"https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page={i}"
    urls.append(url)
    
urls

['https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=1',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=2',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=3',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=4',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=5',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=6',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=7',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=8',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=9',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=10',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=11']

In [34]:
b=[]#rating
p_d=[]#review Summary
p=[]#full review

In [35]:
for i in urls:
    driver.get(i)
    for j in driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]'):
        b.append(j.text)
    for m in driver.find_elements_by_xpath('//p[@class="_2-N8zT"]'):
        p_d.append(m.text)
    for k in driver.find_elements_by_xpath('//div[@class=""]'):
        p.append(k.text.replace("\n"," "))

Let's create dataframe and store extracted data in table format:

In [36]:
Flipkart_iphone=pd.DataFrame({})
pd.set_option('display.max_rows',None)
Flipkart_iphone['Rating']=b[0:100]
Flipkart_iphone['Review_summary']=p_d[0:100]
Flipkart_iphone['Full_review']= p[0:100]
Flipkart_iphone

,Rating,Review_summary,Full_review
0,5,Brilliant,The Best Phone for the Money The iPhone 11 of...
1,5,Perfect product!,Amazing phone with great cameras and better ba...
2,5,Great product,Amazing Powerful and Durable Gadget. I’m am v...
3,5,Worth every penny,Previously I was using one plus 3t it was a gr...
4,4,Good choice,So far it’s been an AMAZING experience coming ...
5,5,Highly recommended,iphone 11 is a very good phone to buy only if ...
6,5,Perfect product!,It’s a must buy who is looking for an upgrade ...
7,5,Fabulous!,This is my first iOS phone. I am very happy wi...
8,5,Perfect product!,Value for money❤️❤️ Its awesome mobile phone i...
9,5,Worth every penny,Best budget Iphone till date ❤️ go for it guys...
10,5,Perfect product!,Iphone is just awesome.. battery backup is ver...
11,5,Worth every penny,It’s been almost a month since I have been usi...
12,5,Simply awesome,"Excellent camera, good performance, no lag. Th..."
13,5,Terrific,Really worth of money. i just love it. It is t...
14,5,Highly recommended,What a camera .....just awesome ..you can feel...
15,4,Nice product,Awesome Phone. Slightly high price but worth. ...
16,5,Highly recommended,It's my first time to use iOS phone and I am l...
17,5,Wonderful,This is my first ever I phone. Before this I w...
18,5,Classy product,Superb Product !!! A big and worthy upgrade fr...
19,5,Brilliant,"I have migrated from OP 7pro... and trust me, ..."
20,5,Must buy!,It’s an amazing product from apple and the cam...
21,5,Terrific purchase,Upgraded from iphone 6 to 11 best phone for ip...
22,5,Wonderful,I just directly switch from iphone 6s to iphon...
23,5,Great product,Well you all know the specifications . One of ...
24,5,Mind-blowing purchase,This will help you more. See if you are planni...
25,5,Terrific purchase,The built quality is not very premium. The bat...
26,5,Simply awesome,Really good actually this is my first apple pr...
27,4,Good quality product,it is very good at performance. Camera is best...
28,5,Very poor,Reviewing again after 5 months. At the beginni...
29,5,Best in the market!,Great iPhone very snappy experience as apple k...
30,5,Must buy!,Best Apple iPhone that i have bought at a very...
31,5,Fabulous!,I can say I'm damn impressed with iPhone 11. A...
32,5,Mind-blowing purchase,"Best Quality Product OF iPhone Series , Sound ..."
33,5,Mind-blowing purchase,First thanks to Flipkart for this amazing deal...
34,5,Wonderful,Superfast delivery by Flipkart. Thanks. 1. iP...
35,5,Worth every penny,"Smooth like butter, camera like fantabulous, s..."
36,4,Great product,Again back to apple iphone after a gap of 2-3 ...
37,4,Good choice,Looking so good 👍 😍 super 👌 stylish 😎 phone Cl...
38,5,Very Good,impressive super phone and best in class camer...
39,5,Perfect product!,"Battery backup is extraordinary, camera is dec..."
40,5,Classy product,Well while switching from android to iOS the f...
41,5,Perfect product!,"In love with this iphone great performance,cam..."
42,5,Just wow!,Best in class. Battery backup is good especial...
43,5,Awesome,Very excited to have this phone. This phone ha...
44,5,Terrific purchase,Its Very awesome product working and good came...
45,5,Brilliant,Excellent camera and display touching very nic...
46,5,Perfect product!,After 1 month use I found camera quality best ...
47,5,Perfect product!,Awesome purchase. Amazing phone with good batt...
48,5,Excellent,Amazing camera and feel super machine I am not...
49,5,Fabulous!,awesome phone to have. it has got many smart f...
50,5,Excellent,Its a fabulous mobile look awesome performance...
51,5,Must buy!,Dear friends... I want to share my experience ...
52,5,Simply awesome,It's very high performances devise i am like t...
53,5,Brilliant,Amazing phone and on great deal I received wit...
54,5,Terrific purchase,finally an iPhone with very nice battery backu...
55,5,Simply awesome,Really satisfied with the Product I received.....
56,5,Perfect product!,Worth the money’ starting first from its perfo...
57,4,Worth every penny,"i11 is worthy to buy, too much happy with the ..."
58,5,Value-for-money,I'm Really happy with the product Delivery was...
59,5,Just wow!,Great iphone. I am writing this review after 2...
60,5,Super!,Did an upgrade from 6s plus to iphone 11. Ao f...
61,5,Perfect product!,Value for money 5 star rating Excellent camera...
62,5,Must buy!,Damn this phone is a blast . Upgraded from and...
63,5,Perfect product!,Best and amazing product.....phone looks so pr...
64,5,Awesome,"Always love the apple products, upgraded from ..."
65,5,Mind-blowing purchase,awesome Phone Smooth Touch Too good Sexyy look...
66,5,Fabulous!,I purchased the iPhone 11 a month back. I must...
67,4,Must buy!,I rate this product 5* as it has got amazing u...
68,4,Good quality product,I'm switching this phone to oppo reno 10x zoom...
69,5,Value-for-money,Just got this iphone 11 And it is most powerfu...
70,5,Perfect product!,It is just awesome mobile for this price from ...
71,5,Excellent,Just go for it. This phone is really amazing. ...
72,4,Mind-blowing purchase,Absolutely powerful gadget. Loved it’s look! S...
73,5,Good quality product,I was torn between the oneplus 8 pro and the i...
74,5,Terrific purchase,I use a Note10+ and have been using both iOS a...
75,3,Awesome,The phone is completely good As far as camera ...
76,5,Decent product,Everything u ll like it when u use this iPhone...
77,5,Super!,It's a great phone. From camera to display eve...
78,5,Awesome,Can’t beat the software and hardware integrati...
79,5,Classy product,We are on apple ecosystem for almost eight yea...
80,5,Excellent,Value for money product. This iphone 11 is rea...
81,4,Terrific,Awesome phone in budget... If you are going fo...
82,4,Wonderful,I genuinely liked it. One of the best mobile p...
83,5,Good quality product,"Awesome camera, smooth and fast UI, display is..."
84,3,Fabulous!,Everything is perfect pictures come out so cle...
85,5,Not recommended at all,They are selling cheep quality items. There is...
86,5,Does the job,phone is good but in display is 720p lcd in th...
87,5,Excellent,A perfect phone and a good battery super camer...
88,5,Just wow!,The ultimate performance Camera is superb The ...
89,5,Mind-blowing purchase,i was confused between 11 and 11 pro. i was go...
90,5,Super!,This is my first ever iPhone. And I truly don’...
91,5,Brilliant,"Wow wow and wow, in 48k you will not get anyth..."
92,5,Most Price worthy Iphone,Reviewing within 1st Month 1st Month Review ...
93,5,Best in the market!,The best all rounder iphone. Flipkart is doing...
94,5,Terrific,I upgraded (downgraded?) from my iPhone X sinc...
95,5,Excellent,Seller - SuperComNet ( my trust in you has gro...
96,5,Terrific purchase,"Well , as we all know if its not an Iphone , i..."
97,4,Wonderful,Nice value for money good and best price I pho...
98,5,Fabulous!,Just an awesome phone...upgraded from 6s to 11...
99,5,Value-for-money,As usual a great product from Apple. but the l...

--------------------------------------------------------------------------------------------------------------------------------

--------------------------------------------------------------------------------------------------------------------------------

Q8: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field.
You have to scrape 4 attributes of each sneaker :
1. Brand
2. Product Description
3. Price
4. discount %
As shown in the below image, you have to scrape the tick marked attributes.
Also note that all the steps required during scraping should be done through code only and not manually.

In [37]:
#after uploading it in jupyter notebook
driver=webdriver.Chrome("chromedriver.exe")

In [38]:
#opening the homepage 
driver.get('https://www.flipkart.com/')
#asking the user to input the keywords he/she wants Suto search
des = input('Enter the job you want to search :')

Enter the job you want to search :sneakers

In [39]:
driver.find_element_by_xpath("//button[@class='_2KpZ6l _2doB4z']").click() # closing pop up box
search_des=driver.find_element_by_xpath("//div[@class='_3OO5Xc']/input")   #locating serach bar designation
search_des.clear()                                         #clearing search bar
search_des.send_keys(des)                                  #sending user input to search bar

search_button = driver.find_element_by_xpath('//button[@class="L0Z3Pu"]') #locating search bar

#clicking the button to start search
search_button.click()

In [40]:
max_page=3
max_p_d=1
urls=[]
for i in range (1, max_page +1):
    url=f"https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page={i}"
    urls.append(url)
    
urls

['https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=1',
 'https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=2',
 'https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=3']

In [41]:
b=[] #brand
p_d=[] # product description
p=[] # price
d=[] # discount

In [42]:
for i in urls:
    driver.get(i)
    for j in driver.find_elements_by_xpath('//div[@class="_2WkVRV"]'):
        b.append(j.text)
    for m in driver.find_elements_by_xpath('//div[@class="_2B099V"]/a[1]'):
        p_d.append(m.text)
    for k in driver.find_elements_by_xpath('//div[@class="_30jeq3"]'):
        p.append(k.text)
    for l in driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]/span'):
        d.append(l.text)

Let's create dataframe and store extracted data in table format:

In [43]:
Flipkart_Sneakers=pd.DataFrame({})
Flipkart_Sneakers['Brand']=b[0:100]
Flipkart_Sneakers['Product_description']=p_d[0:100]
Flipkart_Sneakers['Price']= p[0:100]
Flipkart_Sneakers['Discount']=d[0:100]
Flipkart_Sneakers

,Brand,Product_description,Price,Discount
0,BRUTON,Men Sports Sneakers For Men,₹299,76% off
1,aadi,Sneakers For Men,₹367,63% off
2,Wika,Sneakers For Men,₹449,55% off
3,Robbie jones,Casual Sneakers Shoes For Men Sneakers For Men,₹379,62% off
4,ORICUM,Combo pack of 2 casual sneaker shoes for men S...,₹377,62% off
5,Numenzo,Sneakers For Men,₹399,60% off
6,HOTSTYLE,Sneakers Sneakers For Men,₹283,43% off
7,Robbie jones,Sneakers For Men,₹474,52% off
8,Shoes Bank,White Sneaker For Men's/Boy's Sneakers For Men,₹349,65% off
9,Stefano Rads,Classy Sneakers For Men,₹242,65% off
10,BRUTON,Combo Pack Of 4 Canvas Sneakers For Men,₹499,85% off
11,Echor,shoes for boys Sneakers For Men,₹569,43% off
12,VIPSJAZZY,Sneakers For Men,₹419,58% off
13,World Wear Footwear,Latest Collection-1227 Stylish Casual Sports S...,₹273,45% off
14,Birde,Combo Pack of 4 Casual Shoes Sneakers For Men,₹757,62% off
15,Robbie jones,Casual Sneakers Black Shoes For Men Sneakers F...,₹428,57% off
16,"""trend""",Fashionable casual sneakers shoes for men Snea...,₹426,78% off
17,VORII,Latest Stylish Casual sneakers for men | Lace ...,₹379,62% off
18,Robbie jones,Casual Sneakers Shoes For Men And Boys Sneaker...,₹499,50% off
19,oxpeo,Colourblocked Trending Multicolor Ultralight c...,₹419,58% off
20,Echor,shoes for boys Sneakers For Men,₹569,43% off
21,Magnolia,White Sneakers Sneakers For Men,₹305,69% off
22,aadi,Sneakers For Men,₹298,70% off
23,World Wear Footwear,"Combo Pack of 2 Top Rated, Best Rates Training...",₹498,50% off
24,bluemaker,casual for men (blue 06) Sneakers For Men,₹474,52% off
25,SCATCHITE,Sneakers Sneakers For Men,₹398,60% off
26,T-ROCK,Synthetic Leather Casual Partywear Wedding Sne...,₹378,62% off
27,Kraasa,Series 7 Sneakers For Men,₹416,58% off
28,restinfoot,Casual shoes Sneakers For Men,₹379,62% off
29,INSTYLE,Lightweight Sneakers For Men,₹397,69% off
30,World Wear Footwear,Combo Pack of 4 Latest Collection Stylish Casu...,₹449,82% off
31,Ktiz,Rockstyle Trending Multicolor Ultralight canva...,₹474,63% off
32,Zorth,Sneakers For Men,₹599,40% off
33,Magnolia,Sneakers For Men,₹499,66% off
34,Zsyto,Sneakers For Men,₹328,74% off
35,Numenzo,Casual Sneaker Sneakers For Men,₹539,46% off
36,India hub,Fashionable casual sneakers shoes Sneakers For...,₹383,80% off
37,3SIX5,ORIFWSH(OR)-1077 Sneakers For Men,₹214,57% off
38,HOTSTYLE,Sneakers Sneakers For Men,₹299,40% off
39,World Wear Footwear,Combo Pack of 4 Latest Collection Stylish Casu...,₹799,64% off
40,PUMA,Anzarun Lite Sneakers For Men,"₹1,975",34% off
41,Nilatin,White Sneaker for Men Sneakers For Men,₹407,68% off
42,Walkstyle,Sneakers For Men,₹509,66% off
43,Echor,shoes for boys Sneakers For Men,₹569,43% off
44,SPARX,SM-322 Sneakers For Men,₹769,23% off
45,World Wear Footwear,Sneakers For Men,₹240,51% off
46,Birde,Combo Pack of 4 Casual Shoes Sneakers For Men,₹661,66% off
47,SPARX,SM-162 Sneakers For Men,₹730,23% off
48,Arohi,Sneakers For Men,₹441,55% off
49,BRUTON,Combo Pack Of 4 Canvas Sneakers For Men,₹499,85% off
50,Jokatoo,Sneakers For Men,₹455,69% off
51,Robbie jones,Casual Sneakers Shoes For Men Sneakers For Men,₹474,52% off
52,World Wear Footwear,5011-Latest Collection Stylish Casual Loafer S...,₹240,51% off
53,aadi,Sneakers For Men,₹367,63% off
54,Svpanther,1002 Sneakers For Men,₹499,50% off
55,World Wear Footwear,Men 5014 Latest Collection Stylish Casual Spor...,₹240,51% off
56,D-SNEAKERZ,"Casual , Partywear Sneakers Shoes For Men's An...",₹367,44% off
57,M K FOOTWEAR,Sneakers For Men,₹349,65% off
58,Jack Diamond,Sneakers For Men,₹635,36% off
59,BRUTON,Men Sports Sneakers For Men,₹299,76% off
60,ESSENCE,Sneakers For Men,₹442,55% off
61,SPARX,SD-323 Sneakers For Men,₹632,15% off
62,T-ROCK,Sneakers For Men,₹449,55% off
63,Echor,shoes for boys Sneakers For Men,₹569,43% off
64,TR,Sneakers For Men,₹599,70% off
65,Airland,shoe Sneakers For Men,₹265,46% off
66,LEATHERKRAFT,Sneakers For Men,₹299,70% off
67,Numenzo,Casual Sneaker Sneakers For Men,₹599,40% off
68,Imcolus,Sneakers For Men,₹464,53% off
69,World Wear Footwear,Latest Collection-1227 Stylish Casual Sports S...,₹273,45% off
70,bacca bucci,Men's Ultraforce Mid-top Athletic-Inspired Ret...,₹998,60% off
71,KANEGGYE,Sneakers For Men,₹410,17% off
72,World Wear Footwear,Latest Collection-1227 Stylish Casual Sports S...,₹240,51% off
73,oxpeo,Colourblocked Trending Multicolor Ultralight c...,₹419,58% off
74,India hub,Canvas casual sneaker shoes Sneakers For Men,₹569,71% off
75,SHOELIFE,Sneakers For Men,₹449,55% off
76,bluemaker,casual for men (beige 06) Sneakers For Men,₹474,52% off
77,Englewood,White Shoes For Men | Casual White Laceups Sho...,₹499,66% off
78,Wen Hawk,Latest Stylish Casual sneakers for men | Lace ...,₹379,62% off
79,World Wear Footwear,"Combo Pack of 2 Top Rated, Best Rates Training...",₹498,50% off
80,Jack Diamond,Canvas Sneaker Sneakers For Men,₹630,36% off
81,Deals4you,White Sneaker For Men's/Boy's Sneakers For Men...,₹359,64% off
82,M K FOOTWEAR,M K Footwear 702_Blue Sneakers For Men,₹389,61% off
83,Echor,shoes for boys Sneakers For Men,₹569,43% off
84,SPARX,SM-620 Sneakers For Men,₹999,23% off
85,PUMA,Speeder DP Sneakers For Men,"₹1,549",50% off
86,Numenzo,Casual Sneaker Sneakers For Men,₹599,40% off
87,BRUTON,Sneakers For Men,₹299,76% off
88,PUMA,Icon IDP Sneakers For Men,"₹1,234",62% off
89,BRUTON,Combo Pack Of 4 Canvas Sneakers For Men,₹499,85% off
90,BLACK BOTTOM,Fashion Outdoor Canvas Casual Light Weight Par...,₹449,55% off
91,ROCKFIELD,Sneakers For Men,₹499,50% off
92,Zorth,Sneakers For Men,₹599,40% off
93,aadi,Sneakers For Men,₹367,63% off
94,ESSENCE,Sneakers For Men,₹442,55% off
95,Zorth,Sneakers For Men,₹599,40% off
96,PUMA,Trenzo II IDP Sneakers For Men,"₹1,379",54% off
97,SPARX,SM-322 Sneakers For Men,₹699,30% off
98,Birde,Men's Stylish Casual Shoes Sneakers For Men,₹283,43% off
99,BRUTON,Men Sports Sneakers For Men,₹299,76% off

--------------------------------------------------------------------------------------------------------------------------------

--------------------------------------------------------------------------------------------------------------------------------

Q9: Go to the link - https://www.myntra.com/shoes
Set Price filter to “Rs. 6649 to Rs. 13099” , Color filter to “Black”, as shown in the below image.

And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe description, price of the shoe as shown in the below image.

Please note that applying the filter and scraping the data , everything should be done through code only and there should not be any manual step.

In [44]:
#after uploading it in jupyter notebook
driver=webdriver.Chrome("chromedriver.exe")

In [45]:
#opening the link
driver.get('https://www.myntra.com/shoes')

In [46]:
#clicking on price range
try:
    driver.find_element_by_xpath(".//*[contains(text(), 'Rs. 6649 to Rs. 13099')]").click()
except NoSuchElementException:
    print('Retry in 1 second')
    time.sleep(1)

In [47]:
#clicking on black color
try:
    driver.find_element_by_xpath('//*[@id="mountRoot"]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label/div').click()
except NoSuchElementException as e:
        print('Retry in 1 second')
        time.sleep(1)

In [48]:
max_page=2
max_p_d=1
urls=[]
for i in range (1, max_page +1):
    url=f"https://www.myntra.com/shoes?f=Color%3ABlack_36454f&plaEnabled=false&p={i}"
    urls.append(url)
    
urls

['https://www.myntra.com/shoes?f=Color%3ABlack_36454f&plaEnabled=false&p=1',
 'https://www.myntra.com/shoes?f=Color%3ABlack_36454f&plaEnabled=false&p=2']

In [49]:
brand=[]
short_description=[]
price=[]

In [50]:
for i in urls:
    for b in driver.find_elements_by_xpath('//h3[@class="product-brand"]'):
        brand.append(b.text)
    for sd in driver.find_elements_by_xpath('//h4[@class="product-product"]'):
        short_description.append(sd.text)
    for p in driver.find_elements_by_xpath('//div[@class="product-price"]'):
        price.append(p.text)

Let's create dataframe and store extracted data in table format:

In [51]:
myntra_shoe=pd.DataFrame({})
pd.set_option('display.max_rows',None)
myntra_shoe['Brand']=brand[0:100]
myntra_shoe['short_description']=short_description[0:100]
myntra_shoe['Price']= price[0:100]
myntra_shoe

,Brand,short_description,Price
0,Nike,Men REACT MILER Running Shoes,Rs. 8796Rs. 10995(20% OFF)
1,ALDO,Men Textured Sneakers,Rs. 7199Rs. 8999(20% OFF)
2,Nike,Men AIR ZOOM Running Shoes,Rs. 7721Rs. 10295(25% OFF)
3,Nike,Men JOYRIDE Running Shoes,Rs. 11246Rs. 14995(25% OFF)
4,Nike,AIR ZOOM PEGASUS Running Shoes,Rs. 11495
5,Nike,Women REACT Running Shoes,Rs. 8396Rs. 11995(30% OFF)
6,Nike,Men KD13 EP Basketball Shoes,Rs. 12995
7,ALDO,Men Sneakers,Rs. 9999
8,Nike,Men JORDAN DELTA Basketball,Rs. 12495
9,ASICS,Men Black Sports Shoes,Rs. 6999Rs. 9999(30% OFF)
10,Nike,Women PEGASUS 37 Running Shoes,Rs. 7496Rs. 9995(25% OFF)
11,UNDER ARMOUR,Men HOVR Strt Walking Shoes,Rs. 9999
12,Puma,Women Provoke XT Training,Rs. 7999
13,UNDER ARMOUR,Men Liquify Running Shoes,Rs. 10999
14,UNDER ARMOUR,HOVR Sonic 3 Running Shoes,Rs. 10999
15,Puma,Men SPEED 500 2 Running Shoes,Rs. 6999Rs. 9999(30% OFF)
16,Puma,Women Liberate Nitro Running,Rs. 7999Rs. 9999(20% OFF)
17,UNDER ARMOUR,Charged Rogue 2 Wide 2E Shoes,Rs. 7999
18,Hush Puppies,Men Solid Leather Formal Slip-Ons,Rs. 8999
19,UNDER ARMOUR,Charged Impulse Running Shoes,Rs. 7999
20,Puma,Men UltraRide Running Shoes,Rs. 7649Rs. 8999(15% OFF)
21,Puma,Women Eternity Nitro Running,Rs. 12999
22,UNDER ARMOUR,HOVR Infinite 2 Running Shoes,Rs. 11999
23,Puma,Men Velocity Nitro Running,Rs. 10999
24,UNDER ARMOUR,Men HOVR Guardian Shoes,Rs. 10199Rs. 11999(15% OFF)
25,UNDER ARMOUR,Women Liquify Rebel Running,Rs. 8999
26,Onitsuka Tiger,Unisex Mexico 66 Paraty Sneakers,Rs. 6999
27,FILA,Men Running Shoes,Rs. 8499
28,Bugatti,Women Mules,Rs. 7499
29,UNDER ARMOUR,Women Charged Breathe TR 2,Rs. 7999
30,Nike,Men JORDAN DELTA Sneakers,Rs. 10995
31,Saint G,Men Leather Chelsea Boots,Rs. 11305Rs. 11900(5% OFF)
32,UNDER ARMOUR,Men Charged Will Sneakers,Rs. 7224Rs. 8499(15% OFF)
33,UNDER ARMOUR,Women Charged Breathe OIL SLK,Rs. 8999
34,Skechers,Women D'LITES 3.0 Sneakers,Rs. 6999
35,Cole Haan,Women Woven Design Sneakers,Rs. 6749Rs. 14999(55% OFF)
36,Hush Puppies,Men Formal Derbys,Rs. 9999
37,Ruosh,Men Solid Leather Formal Derbys,Rs. 8990
38,Heel & Buckle London,Men Leather Formal Oxfords,Rs. 7693Rs. 10990(30% OFF)
39,UNDER ARMOUR,Women HOVR Rise 2 Training,Rs. 9999
40,UNDER ARMOUR,Women TriBase Reign 2 Training,Rs. 11999
41,UNDER ARMOUR,HOVR Sonic 3 Running Shoes,Rs. 10999
42,Saint G,Men Textured Leather Formal Loafers,Rs. 9975Rs. 10500(5% OFF)
43,ASICS,Men Running Shoes,Rs. 6999Rs. 9999(30% OFF)
44,Ruosh,Men Formal Brogues,Rs. 6990
45,Nike,Women AIR MAX VIVA Sneakers,Rs. 12495
46,Puma,Future Rider Twofold Sneakers,Rs. 6999
47,Puma,Men FUTURE Z 3.1Football Shoes,Rs. 7199Rs. 7999(10% OFF)
48,Puma,Unisex RS-X Pop Sneakers,Rs. 8499Rs. 9999(15% OFF)
49,Reebok,Forever Floatride Energy 2,Rs. 9999
50,Nike,Men REACT MILER Running Shoes,Rs. 8796Rs. 10995(20% OFF)
51,ALDO,Men Textured Sneakers,Rs. 7199Rs. 8999(20% OFF)
52,Nike,Men AIR ZOOM Running Shoes,Rs. 7721Rs. 10295(25% OFF)
53,Nike,Men JOYRIDE Running Shoes,Rs. 11246Rs. 14995(25% OFF)
54,Nike,AIR ZOOM PEGASUS Running Shoes,Rs. 11495
55,Nike,Women REACT Running Shoes,Rs. 8396Rs. 11995(30% OFF)
56,Nike,Men KD13 EP Basketball Shoes,Rs. 12995
57,ALDO,Men Sneakers,Rs. 9999
58,Nike,Men JORDAN DELTA Basketball,Rs. 12495
59,ASICS,Men Black Sports Shoes,Rs. 6999Rs. 9999(30% OFF)
60,Nike,Women PEGASUS 37 Running Shoes,Rs. 7496Rs. 9995(25% OFF)
61,UNDER ARMOUR,Men HOVR Strt Walking Shoes,Rs. 9999
62,Puma,Women Provoke XT Training,Rs. 7999
63,UNDER ARMOUR,Men Liquify Running Shoes,Rs. 10999
64,UNDER ARMOUR,HOVR Sonic 3 Running Shoes,Rs. 10999
65,Puma,Men SPEED 500 2 Running Shoes,Rs. 6999Rs. 9999(30% OFF)
66,Puma,Women Liberate Nitro Running,Rs. 7999Rs. 9999(20% OFF)
67,UNDER ARMOUR,Charged Rogue 2 Wide 2E Shoes,Rs. 7999
68,Hush Puppies,Men Solid Leather Formal Slip-Ons,Rs. 8999
69,UNDER ARMOUR,Charged Impulse Running Shoes,Rs. 7999
70,Puma,Men UltraRide Running Shoes,Rs. 7649Rs. 8999(15% OFF)
71,Puma,Women Eternity Nitro Running,Rs. 12999
72,UNDER ARMOUR,HOVR Infinite 2 Running Shoes,Rs. 11999
73,Puma,Men Velocity Nitro Running,Rs. 10999
74,UNDER ARMOUR,Men HOVR Guardian Shoes,Rs. 10199Rs. 11999(15% OFF)
75,UNDER ARMOUR,Women Liquify Rebel Running,Rs. 8999
76,Onitsuka Tiger,Unisex Mexico 66 Paraty Sneakers,Rs. 6999
77,FILA,Men Running Shoes,Rs. 8499
78,Bugatti,Women Mules,Rs. 7499
79,UNDER ARMOUR,Women Charged Breathe TR 2,Rs. 7999
80,Nike,Men JORDAN DELTA Sneakers,Rs. 10995
81,Saint G,Men Leather Chelsea Boots,Rs. 11305Rs. 11900(5% OFF)
82,UNDER ARMOUR,Men Charged Will Sneakers,Rs. 7224Rs. 8499(15% OFF)
83,UNDER ARMOUR,Women Charged Breathe OIL SLK,Rs. 8999
84,Skechers,Women D'LITES 3.0 Sneakers,Rs. 6999
85,Cole Haan,Women Woven Design Sneakers,Rs. 6749Rs. 14999(55% OFF)
86,Hush Puppies,Men Formal Derbys,Rs. 9999
87,Ruosh,Men Solid Leather Formal Derbys,Rs. 8990
88,Heel & Buckle London,Men Leather Formal Oxfords,Rs. 7693Rs. 10990(30% OFF)
89,UNDER ARMOUR,Women HOVR Rise 2 Training,Rs. 9999
90,UNDER ARMOUR,Women TriBase Reign 2 Training,Rs. 11999
91,UNDER ARMOUR,HOVR Sonic 3 Running Shoes,Rs. 10999
92,Saint G,Men Textured Leather Formal Loafers,Rs. 9975Rs. 10500(5% OFF)
93,ASICS,Men Running Shoes,Rs. 6999Rs. 9999(30% OFF)
94,Ruosh,Men Formal Brogues,Rs. 6990
95,Nike,Women AIR MAX VIVA Sneakers,Rs. 12495
96,Puma,Future Rider Twofold Sneakers,Rs. 6999
97,Puma,Men FUTURE Z 3.1Football Shoes,Rs. 7199Rs. 7999(10% OFF)
98,Puma,Unisex RS-X Pop Sneakers,Rs. 8499Rs. 9999(15% OFF)
99,Reebok,Forever Floatride Energy 2,Rs. 9999

--------------------------------------------------------------------------------------------------------------------------------

--------------------------------------------------------------------------------------------------------------------------------

Q10: Go to webpage https://www.amazon.in/
Enter “Laptop” in the search field and then click the search icon.
Then set CPU Type filter to “Intel Core i7” and “Intel Core i9” as shown in the below image:

After setting the filters scrape first 10 laptops data. You have to scrape 3 attributes for each laptop:
1. title
2. Ratings
3. Price
As shown in the below image as the tick marked attributes.

In [53]:
#after uploading it in jupyter notebook
driver=webdriver.Chrome("chromedriver.exe")

In [54]:
#opening the homepage of amazon.in
driver.get('https://www.amazon.in/')
#asking the user to input the keywords he/she wants to search
des = input('Enter the job you want to search :')

Enter the job you want to search :Laptop

In [55]:
search_des=driver.find_element_by_id("twotabsearchtextbox")   #locating serach bar 
search_des.clear()                                         #clearing search bar
search_des.send_keys(des)                                  #sending user input to search bar

time.sleep(4)
search_button = driver.find_element_by_xpath('//span[@class="nav-search-submit-text nav-sprite nav-progressive-attribute"]/input') #locating search bar
#clicking the button to start search
search_button.click()

In [56]:
try:
    driver.find_element_by_xpath('//*[@id="p_n_feature_thirteen_browse-bin/12598163031"]/span/a/span').click()
except NoSuchElementException:
    print('No checkbox for Intel Core i7')
    time.sleep(1)

In [89]:
try:
    driver.find_element_by_xpath(".//*[contains(text(), 'Intel Core i9')]").click()
except NoSuchElementException:
        print('No checkbox for Intel Core i9')
        time.sleep(1)

No checkbox for Intel Core i9

In [90]:
title=[]
rating=[]
price=[]

In [91]:
try:
    for b in driver.find_elements_by_xpath('//span[@class="a-size-medium a-color-base a-text-normal"]'):
        title.append(b.text)
except NoSuchElementException:
    title.append(a)
    
try:
    for sd in driver.find_elements_by_xpath('//div[@class="a-row a-size-small"]/span[2]'):
        rating.append(sd.text)
except NoSuchElementException:
    rating.append(a)

try:
    for p in driver.find_elements_by_xpath('//span[@class="a-price"]/span/span[2]'):
        price.append(p.text)
except NoSuchElementException:
    price.append(a)

Let's create dataframe and store extracted data in table format:

In [94]:
amazon_laptop=pd.DataFrame({})
pd.set_option('display.max_rows',None)
amazon_laptop['Title']=title[0:10]
amazon_laptop['rating_by']=rating[0:10]
amazon_laptop['Price']= price[0:10]
amazon_laptop

                                               Title rating_by     Price
0  Lenovo IdeaPad Flex 5 11th Gen Intel Core i7 1...        11    83,990
1  Lenovo Yoga Slim 7 10th Gen Intel Core i7 14 i...        11    83,990
2  Mi Notebook Horizon Edition 14 Intel Core i5-1...       736    49,999
3  (Renewed) HP EliteBook 840 G3 Laptop (Core i7 ...        23    44,999
4  Asus ROG Zephyrus S Ultra Slim Gaming Laptop, ...        11  3,43,099
5  Lenovo IdeaPad Flex 5 11th Gen Intel Core i7 1...       288    83,990
6  HP Pavilion (2021) Thin & Light 11th Gen Core ...        61    79,990
7  Lenovo Legion 5Pi 10th Gen Intel Core i7 15.6"...         6    97,990
8  Lenovo Yoga Slim 7i 11th Gen Intel Core i7 14"...         2    84,990
9  HP Pavilion Gaming 10th Gen Intel Core i7 Proc...        10    46,290